.activities_main{
    position: absolute;
    display: flex;
    width: 100%;
    transform: scale(0);
}

.activities_mainactive{
    height: 100px;
    background: rgb(189, 210, 229);
    transform: scale(1);
}