.about_main{
    margin-top: 15px;
    position: absolute;
    width: 90%;
    height: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 5px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    overflow-y: scroll;
    transition: 2s ease;   
}

.about_main::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

.about_main::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #217af4; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

.about_main::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}

.about_main.active{
    transform: scale(1) !important;   
}

.about_main.off{
    transform: scale(0) !important;
}